<div class="welcomePic">
	<!--<im
	 class="welcomePic" src="Images/road.jpeg" style="width:45%">-->

<div ng-click="toggleMenu()" ng-click="menuUp()" id="lines" class="btn">_</div>

<br>
<big>Welcome, enjoy my Portfolio site.</big>
	<menu ng-show="showMenu">
		<a class="header-links2" ng-href="#/home">Home</a>
		<br>
		<a class="header-links2" ng-href="#/about">About Me</a>
		<br>
		<a class="header-links2" ng-href="#/myWork"> My Portfolio</a>
		<br>
		<a class="header-links2" ng-href="#/contact">Contact</a>
	</menu>
	<br>
	<footer>Created by: J. Tanner Porter; Copyright &reg; 2015</footer>
</div>